<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcial 2 - Sobrero</title>
    @Styles.Render("~/Content/css")
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Parcial 2</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/ConceptoRecibo">Concepto</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/Empleado">Empleado</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ReciboSueldo">Recibo</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Parcial 2 - TFI</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
