@using Entidades;
@using Negocio;
@model Entidades.Comunicador

<div class="jumbotron">
	<h1>@Model.numero</h1>
</div>

<div class="row">
	<div class="col-12">
		<div class="mb-3">
			<label for="numero" class="form-label">Número</label>
			<input type="text" class="form-control" id="numero" value="@Model.numero">
		</div>

		<div class="mb-3">
			<select id="tipo" class="form-select" aria-label="Tipo">
				@foreach (string tipo in Enum.GetNames(typeof(TipoTelefono))) {
					if (Model.tipo.ToString() == tipo) {
						<option value="@tipo" selected>@tipo</option>
					} else { 
						<option value="@tipo">@tipo</option>
					}
				}
			</select>
		</div>

		<button onclick="guardar(@Model.id)" type="button" class="btn btn-outline-primary">✔</button>
	</div>
</div>

<script>
	const guardar = async (id) => {
		await post('/Comunicador/GuardarComunicador/', {
			id: @Model.id,
			numero: document.getElementById("numero").value,
			tipo: document.getElementById("tipo").value
		});
		window.location.href = "/Comunicador";
	}
</script>